<div class="modal-body" style="text-align: center">
    <div class="row">
        <div class="col-12 col-sm-12">
            <img id="imageLogo" src="../../../assets/images/logo4.png" alt="logo CRN" class="img-responsive">
        </div>
        <div class="col-12 col-sm-12">
            <p id="messageText">{{message}}</p>
        </div>
        <div class="col-12 col-sm-12">
            <button id="buttonAcept" class="btn btn-custom" (click)="activeModal.dismiss(true)">{{textButton}}</button>
        </div>
    </div>
</div>