<div class="row">
    <div class="col-sm containerSection">
        <p id="textSection">NOSOTROS</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 col-sm-6">
        <p id="textAboutUS">Leoz guitars internacional es una empresa dedicada a la fabricación y ventas de guitarras eléctricas de alta gama para músicos  y aficionados que buscan/quieren/desean guitarras personalizadas de rendimientos superiores a guitarras regulares, y que cuentan con diseños ergonómicos, materiales y sonido de alta calidad. A diferencia de Fender, Yamaha y Gibson, Leoz guitars internacional ofrece guitarras elaboradas a la medida del consumidor, diseños exclusivos y uso de materiales de la mejor calidad.</p>
    </div>
    <div class="col-12 col-sm-6">
        <img src="../../../assets/images/carousel2.jpg" class="img-responsive" alt="CRN" width="100%">
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-12 col-sm-4 containerImagesAbout" style="text-align: center">
        <br>
        <img src="../../../assets/images/about/aboutMission.jpg" alt="ico_location" width="100" height="100">
    </div>
    <div class="col-12 col-sm-8" style="text-align: left;">
        <p class="titleAbout">Misión</p>
        <p class="descriptionAbout">Fabricar Guitarras e instrumentos de cuerda pulsada con las mejores características ergonómicas y funcionales para nuestros clientes. </p>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-12 col-sm-4 containerImagesAbout" style="text-align: center">
        <br>
        <img src="../../../assets/images/about/aboutVision.jpg" alt="ico_phone" width="100" height="100">
    </div>
    <div class="col-12 col-sm-8" style="text-align: left;">
        <p class="titleAbout">Visión</p>
        <p class="descriptionAbout">Convertirnos en la marca de instrumentos más reconocida y prestigiosa con mercado nacional e internacional.
        </p>
    </div>
</div>
<br>
<br>
<!-- <div class="row">
    <div class="col-12 col-sm-4 containerImagesAbout" style="text-align: center">
        <br>
        <img src="../../../assets/images/about/aboutValues.jpg" alt="ico_email" width="100" height="100">
    </div>
    <div class="col-12 col-sm-8" style="text-align: left;">
        <p class="titleAbout">Valores corporativos</p>
        <p class="descriptionAbout">CRN esta regida por una serie de valores, claros por cada una de las personas que hacen parte de la empresa: honorabilidad, cumplimiento, trabajo en equipo y verdad.
        </p>
    </div>
</div> -->