<div class="row">
    <div class="col-sm containerSection">
        <p id="textSection">PRODUCTOS DE CONSTRUCCIÓN</p>
    </div>
</div>
<br>
<br>
<div class="row">
    <div *ngFor="let item of listProducts" class="col-12 col-sm-6 col-md-3">
        <div class="card cardMain" style="height: 350px">
            <div class="card-body text-center productCard" style="height: 240px;">
                <img class="imageProduct" src="{{item.image}}" alt="{{item.name}}" width="200" height="200" (click)="openModalPhoto(item)">
            </div>
            <div class="card-footer footerCard">
                <p class="nameProduct">{{item.name}}</p>
            </div>
        </div>
        <br>
    </div>
</div>