<div id="carouselControls" class="carousel slide" data-ride="carousel" style="margin-left: -15px; margin-right: -15px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container" class="carrousel" id="portada1">
                <div class="col-sm containerTextCarrousel">
                    <p class="textCarrousel">ASESORÍA</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container" class="carrousel" id="portada2">
                <div class="col-sm containerTextCarrousel">
                    <p class="textCarrousel">CAPACITACIÓN</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container" class="carrousel" id="portada3">
                <div class="col-sm containerTextCarrousel">
                    <p class="textCarrousel">SERVICIO POST VENTA</p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<br>
<div class="row">

    <div class="col-12 col-sm-8" style="text-align: left;">
        <p class="titleAbout">Asesoría</p>
        <p class="descriptionAbout">Contamos con personal capacitado para brindarle asesoramiento adecuado en su proyecto, optimizando tiempo y costos.</p>
    </div>
    <div class="col-12 col-sm-4" style="text-align: center">
        <br>
        <img src="../../../assets/images/about/aboutMission.jpg" alt="ico_location" width="100" height="100">
    </div>
</div>
<br>
<hr/>
<br>
<div class="row">

    <div class="col-12 col-sm-8" style="text-align: left;">
        <p class="titleAbout">Capacitación</p>
        <p class="descriptionAbout">Analizamos las posibles fallas que afectan la producción de su proyecto para así capacitar su equipo de trabajo en el adecuado uso de la herramienta.
        </p>
    </div>
    <div class="col-12 col-sm-4" style="text-align: center">
        <br>
        <img src="../../../assets/images/about/aboutVision.jpg" alt="ico_phone" width="100" height="100">
    </div>
</div>
<br>
<hr/>
<br>
<div class="row">
    <div class="col-12 col-sm-8" style="text-align: left;">
        <p class="titleAbout">Servicio Post Venta</p>
        <p class="descriptionAbout">Proveemos a su empresa un servicio orientado en la durabilidad de la herramienta contando con un stock amplio de repuestos de la mejor calidad.
        </p>
    </div>
    <div class="col-12 col-sm-4" style="text-align: center">
        <br>
        <img src="../../../assets/images/about/aboutValues.jpg" alt="ico_email" width="100" height="100">
    </div>
</div>